# binaries
*.exe

# generated headers
src/vectors.h
src/readme_embed.h

# intermediate files
*.layer1
*.layer2

# python
__pycache__/
*.pyc

# UI build artifacts
ui/app.res

# WinUI 3 build output
ui/winui/bin/
ui/winui/obj/
ui/ipa2vec_core.dll
ui/winui/vec4ipa_ui.sln

ui/winui/dist/
ui/winui/.vs/
ui/winui/*.user

